<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Livro</td>
        <td>
          <modal-button-open tipo="info" target="configuracao-certificado" ng-if="!vm.configuracao_certificado" ng-click="vm.clean(); vm.cleanMessage()"><i class="fa fa-plus-square"></i></modal-button-open>
          <modal-button-open tipo="info" target="configuracao-certificado" ng-if="vm.configuracao_certificado" ng-click="vm.editConfiguracaoCertificado(vm.configuracao_certificado)"><i class="fa fa-pencil-square-o"></i></modal-button-open>
          <button class="btn btn-danger" ng-disabled="!vm.configuracao_certificado" confirmed-click="vm.destroyConfiguracaoCertificado(vm.configuracao_certificado)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      <tr>
        <td>Minicurso</td>
        <td>
          <modal-button-open tipo="info" target="modelo-certificado-minicurso" ng-if="!vm.modelo_certificado_minicurso" ng-click="vm.clean(); vm.cleanMessage()"><i class="fa fa-plus-square"></i></modal-button-open>
          <modal-button-open tipo="info" target="modelo-certificado-minicurso" ng-if="vm.modelo_certificado_minicurso" ng-click="vm.editModeloCertificadoMinicurso(vm.modelo_certificado_minicurso)"><i class="fa fa-pencil-square-o"></i></modal-button-open>
          <button class="btn btn-danger" ng-disabled="!vm.modelo_certificado_minicurso" confirmed-click="vm.destroyModeloCertificadoMinicurso(vm.modelo_certificado_minicurso)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      <tr>
        <td>Palestra</td>
        <td>
          <modal-button-open tipo="info" target="modelo-certificado-palestra" ng-if="!vm.modelo_certificado_palestra" ng-click="vm.clean(); vm.cleanMessage()"><i class="fa fa-plus-square"></i></modal-button-open>
          <modal-button-open tipo="info" target="modelo-certificado-palestra" ng-if="vm.modelo_certificado_palestra" ng-click="vm.editModeloCertificadoPalestra(vm.modelo_certificado_palestra)"><i class="fa fa-pencil-square-o"></i></modal-button-open>
          <button class="btn btn-danger" ng-disabled="!vm.modelo_certificado_palestra" confirmed-click="vm.destroyModeloCertificadoPalestra(vm.modelo_certificado_palestra)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      <tr>
        <td>Atividade</td>
        <td>
          <modal-button-open tipo="info" target="modelo-certificado-atividade" ng-if="!vm.modelo_certificado_atividade" ng-click="vm.clean(); vm.cleanMessage()"><i class="fa fa-plus-square"></i></modal-button-open>
          <modal-button-open tipo="info" target="modelo-certificado-atividade" ng-if="vm.modelo_certificado_atividade" ng-click="vm.editModeloCertificadoAtividade(vm.modelo_certificado_atividade)"><i class="fa fa-pencil-square-o"></i></modal-button-open>
          <button class="btn btn-danger" ng-disabled="!vm.modelo_certificado_atividade" confirmed-click="vm.destroyModeloCertificadoAtividade(vm.modelo_certificado_atividade)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Tipo</th>
        <th>Ações</th>
      </tr>
    </tfoot>
  </table>
</div>

<modal titulo="Livro" target="configuracao-certificado">
  <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
  <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
  <modal-body>
    <form novalidate name="vm.formConfiguracaoCertificado" ng-submit="vm.submitConfiguracaoCertificado()">
      <div class="form-group" ng-class="{'has-error' : vm.formConfiguracaoCertificado.livro_certificado.$invalid}">
        <label for="id_livro_certificado">Descrição</label>
        <input type="text" class="form-control" ng-model="vm.data.livro_certificado" name="livro_certificado" id="id_livro_certificado" required />
        <span class="help-block" ng-repeat="error in vm.error.livro_certificado">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.formConfiguracaoCertificado.quantidade_linha_pagina.$invalid}">
        <label for="id_quantidade_linha_pagina">Quantidade de Linhas por Página</label>
        <input type="number" class="form-control" ng-model="vm.data.quantidade_linha_pagina" id="id_quantidade_linha_pagina" required />
        <span class="help-block" ng-repeat="error in vm.error.quantidade_linha_pagina">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.formConfiguracaoCertificado.numero_inicio_certificado.$invalid}">
        <label for="id_numero_inicio_certificado">Linha que Inicia os Certificados</label>
        <input type="number" class="form-control" ng-model="vm.data.numero_inicio_certificado" id="id_numero_inicio_certificado" required />
        <span class="help-block" ng-repeat="error in vm.error.numero_inicio_certificado">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.formConfiguracaoCertificado.pagina_inicio_certificado.$invalid}">
        <label for="id_pagina_inicio_certificado">Página que Inicia os Certificados</label>
        <input type="number" class="form-control" ng-model="vm.data.pagina_inicio_certificado" id="id_pagina_inicio_certificado" required />
        <span class="help-block" ng-repeat="error in vm.error.pagina_inicio_certificado">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.formConfiguracaoCertificado.assinatura_carimbo.$invalid}">
        <label for="id_assinatura_carimbo">Assinatura do Carimbo</label>
        <select class="form-control" ng-model="vm.data.assinatura_carimbo" id="id_assinatura_carimbo" ng-options="assinatura.pk as assinatura.nome for assinatura in vm.assinaturas track by assinatura.pk">
          <option value="" selected>-------------</option>
        </select>
        <span class="help-block" ng-repeat="error in vm.error.assinatura_carimbo">{{ error }}</span>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="vm.formConfiguracaoCertificado.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
    </form>
  </modal-body>
  <modal-footer>
    <modal-button-close>Fechar</modal-button-close>
  </modal-footer>
</modal>

<modal titulo="Modelo de Certificado para Minicurso" target="modelo-certificado-minicurso">
  <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
  <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
  <modal-body>
    <form novalidate name="vm.form" ng-submit="vm.submitModeloCertificadoMinicurso()">
      <div class="form-group" ng-class="{'has-error' : vm.form.texto.$invalid}">
        <label for="id_texto">Texto</label>
        <textarea class="form-control" ng-model="vm.data.texto" id="id_texto" name="texto" required></textarea>
        <span class="help-block" ng-repeat="error in vm.error.texto">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.background_frente.$invalid}">
        <label>Background Frontal</label>
        <input type="file" ng-model="vm.data.background_frente" name="background_frente" file-reader required />
        <span class="text-muted">Imagens com tamanho inferior a 1 megabyte</span>

        <span class="help-block" ng-if="vm.form.background_frente.$error.size">Por favor, envie uma imagem com tamanho inferior a 1 megabyte.</span>
        <img src="{{ vm.data.background_frente }}" ng-if="vm.data.background_frente.length" width="300" class="img-responsive" />
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.background_costa.$invalid}">
        <label>Background Traseiro</label>
        <input type="file" ng-model="vm.data.background_costa" name="background_costa" file-reader required />
        <span class="text-muted">Imagens com tamanho inferior a 1 megabyte</span>

        <span class="help-block" ng-if="vm.form.background_costa.$error.size">Por favor, envie uma imagem com tamanho inferior a 1 megabyte.</span>
        <img src="{{ vm.data.background_costa }}" ng-if="vm.data.background_costa.length" width="300" class="img-responsive" />
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.assinatura_diretor.$invalid}">
        <label for="id_assinatura_diretor">Assinatura Diretor</label>
        <select class="form-control" ng-model="vm.data.assinatura_diretor" name="<select class="form-control" ng-model="vm.data.assinatura_diretor" name="assinatura_diretor" id="id_assinatura_diretor" ng-options="assinatura.pk as assinatura.nome for assinatura in vm.assinaturas track by assinatura.pk">
          <option value="" selected>-------------</option>
        </select>
        <span class="help-block" ng-repeat="error in vm.error.assinatura_diretor">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.assinatura_coordenador.$invalid}">
        <label for="id_assinatura_coordenador">Assinatura Coordenador</label>
        <select class="form-control" ng-model="vm.data.assinatura_coordenador" name="assinatura_coordenador" id="id_assinatura_coordenador" ng-options="assinatura.pk as assinatura.nome for assinatura in vm.assinaturas track by assinatura.pk">
          <option value="" selected>-------------</option>
        </select>
        <span class="help-block" ng-repeat="error in vm.error.assinatura_coordenador">{{ error }}</span>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
    </form>
  </modal-body>
  <modal-footer>
    <modal-button-close>Fechar</modal-button-close>
  </modal-footer>
</modal>

<modal titulo="Modelo de Certificado para Palestra" target="modelo-certificado-palestra">
  <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
  <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
  <modal-body>
    <form novalidate name="vm.form" ng-submit="vm.submitModeloCertificadoPalestra()">
      <div class="form-group" ng-class="{'has-error' : vm.form.texto.$invalid}">
        <label for="id_texto">Texto</label>
        <textarea class="form-control" ng-model="vm.data.texto" id="id_texto" name="texto" required></textarea>
        <span class="help-block" ng-repeat="error in vm.error.texto">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.background_frente.$invalid}">
        <label>Background Frontal</label>
        <input type="file" ng-model="vm.data.background_frente" name="background_frente" file-reader required />
        <span class="text-muted">Imagens com tamanho inferior a 1 megabyte</span>

        <span class="help-block" ng-if="vm.form.background_frente.$error.size">Por favor, envie uma imagem com tamanho inferior a 1 megabyte.</span>
        <img src="{{ vm.data.background_frente }}" ng-if="vm.data.background_frente.length" width="300" class="img-responsive" />
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.background_costa.$invalid}">
        <label>Background Traseiro</label>
        <input type="file" ng-model="vm.data.background_costa" name="background_costa" file-reader required />
        <span class="text-muted">Imagens com tamanho inferior a 1 megabyte</span>

        <span class="help-block" ng-if="vm.form.background_costa.$error.size">Por favor, envie uma imagem com tamanho inferior a 1 megabyte.</span>
        <img src="{{ vm.data.background_costa }}" ng-if="vm.data.background_costa.length" width="300" class="img-responsive" />
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.assinatura_diretor.$invalid}">
        <label for="id_assinatura_diretor">Assinatura Diretor</label>
        <select class="form-control" ng-model="vm.data.assinatura_diretor" name="<select class="form-control" ng-model="vm.data.assinatura_diretor" name="assinatura_diretor" id="id_assinatura_diretor" ng-options="assinatura.pk as assinatura.nome for assinatura in vm.assinaturas track by assinatura.pk">
          <option value="" selected>-------------</option>
        </select>
        <span class="help-block" ng-repeat="error in vm.error.assinatura_diretor">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.assinatura_coordenador.$invalid}">
        <label for="id_assinatura_coordenador">Assinatura Coordenador</label>
        <select class="form-control" ng-model="vm.data.assinatura_coordenador" name="assinatura_coordenador" id="id_assinatura_coordenador" ng-options="assinatura.pk as assinatura.nome for assinatura in vm.assinaturas track by assinatura.pk">
          <option value="" selected>-------------</option>
        </select>
        <span class="help-block" ng-repeat="error in vm.error.assinatura_coordenador">{{ error }}</span>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
    </form>
  </modal-body>
  <modal-footer>
    <modal-button-close>Fechar</modal-button-close>
  </modal-footer>
</modal>

<modal titulo="Modelo de Certificado para Atividade" target="modelo-certificado-atividade">
  <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
  <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
  <modal-body>
    <form novalidate name="vm.form" ng-submit="vm.submitModeloCertificadoAtividade()">
      <div class="form-group" ng-class="{'has-error' : vm.form.texto.$invalid}">
        <label for="id_texto">Texto</label>
        <textarea class="form-control" ng-model="vm.data.texto" id="id_texto" name="texto" required></textarea>
        <span class="help-block" ng-repeat="error in vm.error.texto">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.background_frente.$invalid}">
        <label>Background Frontal</label>
        <input type="file" ng-model="vm.data.background_frente" name="background_frente" file-reader required />
        <span class="text-muted">Imagens com tamanho inferior a 1 megabyte</span>

        <span class="help-block" ng-if="vm.form.background_frente.$error.size">Por favor, envie uma imagem com tamanho inferior a 1 megabyte.</span>
        <img src="{{ vm.data.background_frente }}" ng-if="vm.data.background_frente.length" width="300" class="img-responsive" />
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.background_costa.$invalid}">
        <label>Background Traseiro</label>
        <input type="file" ng-model="vm.data.background_costa" name="background_costa" file-reader required />
        <span class="text-muted">Imagens com tamanho inferior a 1 megabyte</span>

        <span class="help-block" ng-if="vm.form.background_costa.$error.size">Por favor, envie uma imagem com tamanho inferior a 1 megabyte.</span>
        <img src="{{ vm.data.background_costa }}" ng-if="vm.data.background_costa.length" width="300" class="img-responsive" />
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.assinatura_diretor.$invalid}">
        <label for="id_assinatura_diretor">Assinatura Diretor</label>
        <select class="form-control" ng-model="vm.data.assinatura_diretor" name="<select class="form-control" ng-model="vm.data.assinatura_diretor" name="assinatura_diretor" id="id_assinatura_diretor" ng-options="assinatura.pk as assinatura.nome for assinatura in vm.assinaturas track by assinatura.pk">
          <option value="" selected>-------------</option>
        </select>
        <span class="help-block" ng-repeat="error in vm.error.assinatura_diretor">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.assinatura_coordenador.$invalid}">
        <label for="id_assinatura_coordenador">Assinatura Coordenador</label>
        <select class="form-control" ng-model="vm.data.assinatura_coordenador" name="assinatura_coordenador" id="id_assinatura_coordenador" ng-options="assinatura.pk as assinatura.nome for assinatura in vm.assinaturas track by assinatura.pk">
          <option value="" selected>-------------</option>
        </select>
        <span class="help-block" ng-repeat="error in vm.error.assinatura_coordenador">{{ error }}</span>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
    </form>
  </modal-body>
  <modal-footer>
    <modal-button-close>Fechar</modal-button-close>
  </modal-footer>
</modal>