<panel tipo="default" name="inscricao" titulo="Inscrições">
  <panel-body>
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="javascript:void(0)" ng-click="vm.showInscricoes()"><i class="fa fa-edit"></i> Inscrições</a>
        </li>
        <li>
          <a href="javascript:void(0)" ng-click="vm.showMinicursos()"><i class="fa fa-cube"></i> Minicursos</a>
        </li>
        <li>
          <a href="javascript:void(0)" ng-click="vm.showAtividades()"><i class="fa fa-tasks"></i> Atividades</a>
        </li>
        <li>
          <a href="javascript:void(0)" ng-click="vm.showPalestras()"><i class="fa fa-microphone"></i> Palestras</a>
        </li>
        <li>
          <a ng-if="vm.previous" ui-sref="{{ vm.previous }}"><i class="fa fa-undo"></i> Voltar</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10" oc-lazy-load="['modal']">
      <div ng-if="vm.openInscricoes">
        <ul class="nav nav-pills" role="tablist">
          <li>
            <a href="javascript:void(0)">
              Inscrições <span class="badge">{{ vm.relatorio.inscricoes }}</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Confirmadas <span class="badge">{{ vm.relatorio.confirmadas }}</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Pendentes <span class="badge">{{ vm.relatorio.pendentes }}</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Palestras <span class="badge">{{ vm.relatorio.palestras }}</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Minicursos <span class="badge">{{ vm.relatorio.minicursos }}</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Vagas Minicursos <span class="badge">{{ vm.relatorio.vagas }}</span>
            </a>
          </li>
        </ul>
        <hr />
        <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
        <loading ng-if="!vm.loading" />
        <panel-body ng-if="vm.loading && !vm.list.length">Não há inscrições registradas</panel-body>
        <div class="table-responsive">
          <table class="table table-bordered" ng-if="vm.loading && vm.list.length">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Status</th>
                <th>Documentos</th>
                <th>Atividades</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="object in vm.list">
                <td>{{ object.participante }}</td>
                <td>{{ object.status }}</td>
                <td>
                  <modal-button-open tipo="link" target="documento-inscricao-{{ object.pk }}" ng-click="vm.cleanMessage()"><i class="fa fa-list"></i> Visualizar</modal-button-open>
                  <modal titulo="Documentos" target="documento-inscricao-{{ object.pk }}">
                    <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.messageDocumento">{{ message.texto }}</alert>
                    <div class="table-responsive">
                      <table class="table table-bordered" ng-if="object.documentos.length">
                        <thead>
                          <th>Tipo</th>
                          <th>Documento</th>
                          <th>Ações</th>
                        </thead>
                        <tr ng-repeat="documento in object.documentos">
                          <td>{{ documento.tipo }}</td>
                          <td>
                            <a href="{{ documento.documento }}" target="_blank">Visualizar</a>
                          </td>
                          <td>
                            <button ng-if="!documento.valido" class="btn btn-success" confirmed-click="vm.validate(documento)" confirm-click="Você tem certeza?"><i class="fa fa-check-square-o"></i> Ativar</button>
                            <button ng-if="documento.valido" class="btn btn-warning" confirmed-click="vm.deny(documento)" confirm-click="Você tem certeza?"><i class="fa fa-check-square-o"></i> Desativar</button>
                          </td>
                        </tr>
                        <tfoot>
                          <th>Tipo</th>
                          <th>Documento</th>
                          <th>Ações</th>
                        </tfoot>
                      </table>
                    </div>
                    <modal-body ng-if="!object.documentos.length">
                      Não há documentos registrados
                    </modal-body>
                    <modal-footer>
                      <modal-button-close>Fechar</modal-button-close>
                    </modal-footer>
                  </modal>
                </td>
                <td>
                  <modal-button-open tipo="link" target="atividade-inscricao-{{ object.pk }}" ng-click="vm.cleanMessage()"><i class="fa fa-list"></i> Visualizar</modal-button-open>
                  <modal titulo="Atividades" target="atividade-inscricao-{{ object.pk }}">
                    <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.messageDocumento">{{ message.texto }}</alert>
                    <div class="table-responsive">
                      <table class="table table-bordered" ng-if="vm.atividades_geral.length">
                        <thead>
                          <th>Atividade</th>
                          <th>Ações</th>
                        </thead>
                        <tr ng-repeat="atividade in vm.atividades_geral">
                          <td>{{ atividade.descricao }}</td>
                          <td>
                            <button type="button" ng-click="vm.addParticipacao(object, atividade)">Participou</button>
                          </td>
                        </tr>
                        <tfoot>
                          <th>Atividade</th>
                          <th>Ações</th>
                        </tfoot>
                      </table>
                    </div>
                    <modal-body ng-if="!vm.atividades_geral.length">
                      Não há atividades registradas
                    </modal-body>
                    <modal-footer>
                      <modal-button-close>Fechar</modal-button-close>
                    </modal-footer>
                  </modal>
                </td>
                <td>
                  <button ng-if="!object.certificado_disponivel" class="btn btn-success" type="button" ng-click="vm.availableCertificadoEvento(object)"><i class="fa fa-check-square-o"></i> Disponibilizar</button>
                  <button ng-if="object.status == 'Incompleta'" class="btn btn-success" confirmed-click="vm.active(object)" confirm-click="Você tem certeza?"><i class="fa fa-check-square-o"></i> Ativar</button>
                  <button ng-if="object.status == 'Confirmada'" class="btn btn-danger" confirmed-click="vm.deactive(object)" confirm-click="Você tem certeza?"><i class="fa fa-ban"></i> Desativar</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Participante</th>
                <th>Status</th>
                <th>Documentos</th>
                <th>Atividades</th>
                <th>Ações</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div ng-if="vm.openMinicursos">
        <loading ng-if="!vm.loading" />
        <div class="table-responsive">
          <table class="table table-bordered" ng-if="vm.loading && vm.relatorioMinicurso.length">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Grupo</th>
                <th>Vagas</th>
                <th>Vagas Disponíveis</th>
                <th>Participantes</th>
                <th>Lista de Presença</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="object in vm.relatorioMinicurso">
                <td>{{ object.nome }}</td>
                <td>{{ object.grupo }}</td>
                <td>{{ object.vagas }}</td>
                <td>{{ object.vagas_disponiveis }}</td>
                <td>
                  <modal-button-open tipo="link" target="participantes-{{ $index }}"><i class="fa fa-list"></i> Visualizar <span class="badge">{{ object.participantes.length }}</span></modal-button-open>
                  <modal titulo="Participantes" target="participantes-{{ $index }}">
                    <div class="table-responsive">
                      <table class="table table-bordered" ng-if="object.participantes.length">
                        <thead>
                          <th>Nome</th>
                          <th>E-mail</th>
                          <th>Certificado</th>
                        </thead>
                        <tr ng-repeat="participante in object.participantes">
                          <td>{{ participante.nome }}</td>
                          <td>{{ participante.email }}</td>
                          <td>
                            <a ng-if="!participante.disponivel" class="btn btn-success" href="javascript:void(0)" ng-click="vm.availableCertificado(participante)"><i class="fa fa-check-square-o"></i> Disponibilizar</a>
                            <a ng-if="participante.disponivel" class="btn btn-danger" href="javascript:void(0)" ng-click="vm.availableCertificado(participante)"><i class="fa fa-ban"></i> Cancelar</a>
                          </td>
                        </tr>
                        <tfoot>
                          <th>Nome</th>
                          <th>E-mail</th>
                          <th>Certificado</th>
                        </tfoot>
                      </table>
                    </div>
                    <modal-body ng-if="!object.participantes.length">
                      Não há inscritos nesta turma
                    </modal-body>
                    <modal-footer>
                      <modal-button-close>Fechar</modal-button-close>
                    </modal-footer>
                  </modal>
                </td>
                <td>
                  <button class="btn btn-success" ng-click="vm.getListaPresencaMinicurso(object.pk)">PDF</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Nome</th>
                <th>Grupo</th>
                <th>Vagas</th>
                <th>Vagas Disponíveis</th>
                <th>Participantes</th>
                <th>Lista de Presença</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div ng-if="vm.openAtividades">
        <loading ng-if="!vm.loading" />
        <div class="table-responsive">
          <table class="table table-bordered" ng-if="vm.loading && vm.relatorioAtividade.length">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Grupo</th>
                <th>Vagas</th>
                <th>Vagas Disponíveis</th>
                <th>Participantes</th>
                <th>Lista de Presença</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="object in vm.relatorioAtividade">
                <td>{{ object.nome }}</td>
                <td>{{ object.grupo }}</td>
                <td>{{ object.vagas }}</td>
                <td>{{ object.vagas_disponiveis }}</td>
                <td>
                  <modal-button-open tipo="link" target="participantes-{{ $index }}"><i class="fa fa-list"></i> Visualizar <span class="badge">{{ object.participantes.length }}</span></modal-button-open>
                  <modal titulo="Participantes" target="participantes-{{ $index }}">
                    <div class="table-responsive">
                      <table class="table table-bordered" ng-if="object.participantes.length">
                        <thead>
                          <th>Nome</th>
                          <th>Certificado</th>
                        </thead>
                        <tr ng-repeat="participante in object.participantes">
                          <td>{{ participante.nome }}</td>
                          <td>
                            <a ng-if="!participante.disponivel" class="btn btn-success" href="javascript:void(0)" ng-click="vm.availableCertificado(participante)"><i class="fa fa-check-square-o"></i> Disponibilizar</a>
                            <a ng-if="participante.disponivel" class="btn btn-danger" href="javascript:void(0)" ng-click="vm.availableCertificado(participante)"><i class="fa fa-ban"></i> Cancelar</a>
                          </td>
                        </tr>
                        <tfoot>
                          <th>Nome</th>
                          <th>Certificado</th>
                        </tfoot>
                      </table>
                    </div>
                    <modal-body ng-if="!object.participantes.length">
                      Não há inscritos nesta turma
                    </modal-body>
                    <modal-footer>
                      <modal-button-close>Fechar</modal-button-close>
                    </modal-footer>
                  </modal>
                </td>
                <td>
                  <button class="btn btn-success" ng-click="vm.getListaPresencaAtividade(object.pk)">PDF</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Nome</th>
                <th>Grupo</th>
                <th>Vagas</th>
                <th>Vagas Disponíveis</th>
                <th>Participantes</th>
                <th>Lista de Presença</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div ng-if="vm.openPalestras">
        <loading ng-if="!vm.loading" />
        <div class="table-responsive">
          <table class="table table-bordered" ng-if="vm.loading && vm.relatorioPalestra.length">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Participantes</th>
                <th>Lista de Presença</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="object in vm.relatorioPalestra">
                <td>{{ object.nome }}</td>
                <td>
                  <modal-button-open tipo="link" target="participantes-{{ $index }}"><i class="fa fa-list"></i> Visualizar <span class="badge">{{ object.participantes.length }}</span></modal-button-open>
                  <modal titulo="Participantes" target="participantes-{{ $index }}">
                    <table class="table table-bordered" ng-if="object.participantes.length">
                      <thead>
                        <th>Nome</th>
                        <th>Certificado</th>
                      </thead>
                      <tr ng-repeat="participante in object.participantes">
                        <td>{{ participante.nome }}</td>
                        <td>
                          <a ng-if="!participante.disponivel" class="btn btn-success" href="javascript:void(0)" ng-click="vm.availableCertificado(participante)"><i class="fa fa-check-square-o"></i> Disponibilizar</a>
                          <a ng-if="participante.disponivel" class="btn btn-danger" href="javascript:void(0)" ng-click="vm.availableCertificado(participante)"><i class="fa fa-ban"></i> Cancelar</a>
                        </td>
                      </tr>
                      <tfoot>
                        <th>Nome</th>
                        <th>Certificado</th>
                      </tfoot>
                    </table>
                    <modal-body ng-if="!object.participantes.length">
                      Não há inscritos nas palestras
                    </modal-body>
                    <modal-footer>
                      <modal-button-close>Fechar</modal-button-close>
                    </modal-footer>
                  </modal>
                </td>
                <td>
                  <button class="btn btn-success" ng-click="vm.getListaPresencaPalestra(object.pk)">PDF</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Nome</th>
                <th>Participantes</th>
                <th>Lista de Presença</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </panel-body>
</panel>