<div class="panel panel-{{ tipo }}">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="javascript:void(0);" data-target="#{{ name }}">{{ titulo }}</a>
    </h4>
  </div>
  <div id="{{ name }}" class="panel-collapse collapse" ng-transclude></div>
</div>