<nav class="navbar navbar-{{ tipo }}">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-rease">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="/">Rease</a>
    </div>

    <div class="collapse navbar-collapse" id="menu-rease">
      <ul class="nav navbar-nav" ng-transclude></ul>
    </div>
  </div>
</nav>