<!DOCTYPE html>
<html>
<head>
  <title>Rease - Sistema de Eventos Feito por Dayvid</title>
  <base href="/">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <script type="text/javascript" data-main="app/main" src="bower_components/requirejs/require.js" charset="UTF8"></script>
</head>
<body oc-lazy-load="['navbar', 'panel', 'alert', 'confirm-click']">
  <navbar tipo="default">
    <li ng-repeat="item in menu" ng-show="token"><a ui-sref="{{ item.state }}">{{ item.label }}</a></li>
    <li><a ui-sref="logout" ng-show="token">Sair</a></li>
  </navbar>
  <main class="container-fluid">
    <ui-view></ui-view>
  </main>
  <footer class="text-center">
    Desenvolvido por <a href="http://dayvidemerson.com.br" target="_blank">Dayvid Emerson</a>
  </footer>
</body>
</html>