<alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
<div ng-if="vm.openList">
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.create()">
    <i class="fa fa-plus"></i> Novo Minicurso
  </a>
  <hr />
  <loading ng-if="!vm.loading" />
  <panel-body ng-if="vm.loading && !vm.list.length">Não há minicursos registrados</panel-body>
  <div class="table-responsive">
    <table class="table table-bordered" ng-if="vm.loading && vm.list.length">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Carga Horária</th>
          <th>Turmas</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in vm.list">
          <td>{{ object.nome }}</td>
          <td>{{ object.carga_horaria }} h</td>
          <td>
            <a href="javascript:void(0)" ng-click="vm.showTurmas(object.pk)" class="btn btn-link"><i class="fa fa-list"></i> Visualizar</a>
          </td>
          <td>
            <button class="btn btn-info" ng-click="vm.edit(object)"><i class="fa fa-pencil-square-o"></i></button>
            <button class="btn btn-danger" confirmed-click="vm.destroy(object)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Nome</th>
          <th>Carga Horária</th>
          <th>Turmas</th>
          <th>Ações</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div ng-if="vm.openForm">
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.showList()">
    <i class="fa fa-plus"></i> Listar Minicursos
  </a>
  <hr />
  <form novalidate name="vm.form" ng-submit="vm.submit()">
    <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
    <div class="form-group" ng-class="{'has-error' : vm.form.nome.$invalid}">
      <label for="id_nome">Nome</label>
      <input class="form-control" ng-model="vm.data.nome" id="id_nome" name="nome" type="text" required />
      <span class="help-block" ng-repeat="error in vm.error.nome">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.carga_horaria.$invalid}">
      <label for="id_carga_horaria">Carga Horária</label>
      <input class="form-control" ng-model="vm.data.carga_horaria" id="id_carga_horaria" name="carga_horaria" type="number" required />
      <span class="help-block" ng-repeat="error in vm.error.carga_horaria">{{ error }}</span>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
    <button type="button" class="btn btn-warning" ng-click="vm.clean()">Limpar Formulário</button>
  </form>
</div>
<div ng-if="vm.openListTurma">
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.createTurma()">
    <i class="fa fa-plus"></i> Nova Turma
  </a>
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.create()">
    <i class="fa fa-plus"></i> Novo Minicurso
  </a>
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.showList()">
    <i class="fa fa-list"></i> Listar Minicursos
  </a>
  <hr />
  <loading ng-if="!vm.loadingTurma" />
  <panel-body ng-if="!vm.listTurma.length">Não há turmas registradas</panel-body>
  <div class="table-responsive">
    <table class="table table-bordered" ng-if="vm.listTurma.length">
      <thead>
        <tr>
          <th>Ministrante</th>
          <th>Vagas</th>
          <th>Grupo</th>
          <th>Horários</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in vm.listTurma">
          <td>{{ object.nome_profissional }}</td>
          <td>{{ object.vagas }}</td>
          <td>{{ object.nome_grupo}}</td>
          <td>
            <modal-button-open tipo="link" target="horarios" ng-click="vm.getHorario(object)"><i class="fa fa-list"></i> Visualizar</modal-button-open>
          </td>
          <td>
            <button class="btn btn-info" ng-click="vm.editTurma(object)"><i class="fa fa-pencil-square-o"></i></button>
            <button class="btn btn-danger" confirmed-click="vm.destroyTurma(object)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Ministrante</th>
          <th>Vagas</th>
          <th>Grupo</th>
          <th>Horários</th>
          <th>Ações</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div ng-if="vm.openFormTurma">
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.showListTurma()">
    <i class="fa fa-list"></i> Listar Turmas
  </a>
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.create()">
    <i class="fa fa-plus"></i> Novo Minicurso
  </a>
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.showList()">
    <i class="fa fa-list"></i> Listar Minicursos
  </a>
  <hr />
  <form novalidate name="vm.form" ng-submit="vm.submitTurma()">
    <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
    <div class="form-group" ng-class="{'has-error' : vm.form.vagas.$invalid}">
      <label for="id_vagas">Vagas</label>
      <input class="form-control" ng-model="vm.data.vagas" id="id_vagas" name="vagas" type="number" required />
      <span class="help-block" ng-repeat="error in vm.error.vagas">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.profissional.$invalid}">
      <label for="id_profissional">Ministrante</label>
      <select class="form-control" ng-model="vm.data.profissional" name="profissional" id="id_profissional" ng-options="profissional.pk as profissional.nome for profissional in vm.profissionais">
        <option value="" selected>-------------</option>
      </select>
      <span class="help-block" ng-repeat="error in vm.error.profissional">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.grupo.$invalid}">
      <label for="id_grupo">Grupo</label>
      <select class="form-control" ng-model="vm.data.grupo" name="grupo" id="id_grupo" ng-options="grupo.pk as grupo.nome for grupo in vm.grupos">
        <option value="" selected>-------------</option>
      </select>
      <span class="help-block" ng-repeat="error in vm.error.grupo">{{ error }}</span>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
    <button type="button" class="btn btn-warning" ng-click="vm.cleanTurma()">Limpar Formulário</button>
  </form>
</div>

<modal titulo="Horários" target="horarios">
  <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.messageHorario">{{ message.texto }}</alert>
  <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
  <div class="table-responsive">
    <table class="table table-bordered" ng-if="vm.listHorario.length">
      <thead>
        <th>Data</th>
        <th>Início</th>
        <th>Término</th>
        <th>Ações</th>
      </thead>
      <tr ng-repeat="horario in vm.listHorario">
        <td>{{ horario.data | date : 'dd/MM/yyyy' }}</td>
        <td>{{ horario.inicio | date : 'HH:mm' }}</td>
        <td>{{ horario.termino | date : 'HH:mm' }}</td>
        <td>
          <button class="btn btn-info" ng-click="vm.editHorario(horario)"><i class="fa fa-pencil-square-o"></i></button>
          <button class="btn btn-danger" confirmed-click="vm.destroyHorario(horario)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      <tfoot>
        <th>Data</th>
        <th>Início</th>
        <th>Término</th>
        <th>Ações</th>
      </tfoot>
    </table>
  </div>
  <modal-body>
    <loading ng-if="!vm.loadingHorario" />
    <alert tipo="warning" ng-if="vm.loadingHorario && !vm.listHorario.length">Não há horários registrados</alert>
    <form novalidate name="vm.form" ng-submit="vm.submitHorario()">
      <div class="form-group" ng-class="{'has-error' : vm.form.data.$invalid}">
        <label for="id_data">Data</label>
        <input class="form-control" ng-model="vm.data.data" id="id_data" name="data" type="date" required />
        <span class="help-block" ng-repeat="error in vm.error.data">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.inicio.$invalid}">
        <label for="id_inicio">Início</label>
        <input class="form-control" ng-model="vm.data.inicio" id="id_inicio" name="inicio" type="time" required />
        <span class="help-block" ng-repeat="error in vm.error.inicio">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.termino.$invalid}">
        <label for="id_termino">Término</label>
        <input class="form-control" ng-model="vm.data.termino" id="id_termino" name="termino" type="time" required />
        <span class="help-block" ng-repeat="error in vm.error.termino">{{ error }}</span>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
      <button type="button" class="btn btn-warning" ng-click="vm.cleanHorario()">Limpar Formulário</button>
    </form>
  </modal-body>
  <modal-footer>
    <modal-button-close>Fechar</modal-button-close>
  </modal-footer>
</modal>