<panel tipo="default" titulo="Assinaturas">
  <panel-body>
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="javascript:void(0)" ng-click="vm.create()">
            <i class="fa fa-plus"></i> Nova Assinatura
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" ng-click="vm.showList()">
            <i class="fa fa-list"></i> Listar Assinaturas
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-10" oc-lazy-load="['file-reader']">
      <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
      <div ng-if="vm.openList">
        <loading ng-if="!vm.loading" />
        <panel-body ng-if="vm.loading && !vm.list.length">Não há assinaturas registradas</panel-body>
        <div class="table-responsive">
          <table class="table table-bordered" ng-if="vm.loading && vm.list.length">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="object in vm.list">
                <td>{{ object.nome }}</td>
                <td>{{ object.cargo }}</td>
                <td>
                  <button class="btn btn-info" ng-click="vm.edit(object)"><i class="fa fa-pencil-square-o"></i></button>
                  <button class="btn btn-danger" confirmed-click="vm.destroy(object)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Ações</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div ng-if="vm.openForm">
        <form novalidate name="vm.form" ng-submit="vm.submit()">
          <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
          <div class="form-group" ng-class="{'has-error' : vm.form.nome.$invalid}">
            <label for="id_nome">Nome</label>
            <input class="form-control" ng-model="vm.data.nome" id="id_nome" name="nome" value="{{ vm.data.nome }}" type="text" required></input>
            <span class="help-block" ng-repeat="error in vm.error.nome">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.cargo.$invalid}">
            <label for="id_cargo">Cargo</label>
            <input class="form-control" ng-model="vm.data.cargo" id="id_cargo" name="cargo" value="{{ vm.data.cargo }}" type="text"></input>
            <span class="help-block" ng-repeat="error in vm.error.cargo">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.imagem.$invalid}">
            <label>Imagem</label>
            <input type="file" ng-model="vm.data.imagem" id="id_imagem" name="imagem" file-reader />
            <span class="text-muted">Imagens com tamanho inferior a 1 megabyte</span>

            <span class="help-block" ng-if="vm.form.imagem.$error.size">Por favor, envie uma imagem com tamanho inferior a 1 megabyte.</span>
            <img src="{{ vm.data.imagem }}" ng-if="vm.data.imagem.length" width="300" class="img-responsive" />
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
          <button type="button" class="btn btn-warning" ng-click="vm.clean()">Limpar Formulário</button>
        </form>
      </div>
    </div>
  </panel-body>
</panel>