<alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
<div ng-if="vm.openList">
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.create()">
    <i class="fa fa-plus"></i> Novo Grupo
  </a>
  <hr />
  <loading ng-if="!vm.loading" />
  <panel-body ng-if="vm.loading && !vm.list.length">Não há grupos registrados</panel-body>
  <div class="table-responsive">
    <table class="table table-bordered" ng-if="vm.loading && vm.list.length">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in vm.list">
          <td>{{ object.nome }}</td>
          <td>
            <button class="btn btn-info" ng-click="vm.edit(object)"><i class="fa fa-pencil-square-o"></i></button>
            <button class="btn btn-danger" confirmed-click="vm.destroy(object)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div ng-if="vm.openForm">
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.showList()">
    <i class="fa fa-list"></i> Listar Grupos
  </a>
  <hr />
  <form novalidate name="vm.form" ng-submit="vm.submit()">
    <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
    <div class="form-group" ng-class="{'has-error' : vm.form.nome.$invalid}">
      <label for="id_nome">Nome</label>
      <input class="form-control" ng-model="vm.data.nome" id="id_nome" name="nome" type="text" required />
      <span class="help-block" ng-repeat="error in vm.error.nome">{{ error }}</span>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
    <button type="button" class="btn btn-warning" ng-click="vm.clean()">Limpar Formulário</button>
  </form>
</div>