<alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
<div ng-if="vm.openList">    
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.create()">
    <i class="fa fa-plus"></i> Novo Tipo de Inscrição
  </a>
  <hr />
  <loading ng-if="!vm.loading" />
  <panel-body ng-if="vm.loading && !vm.list.length">Não há tipos de inscrição registrados</panel-body>
  <div class="table-responsive">
    <table class="table table-bordered" ng-if="vm.loading && vm.list.length">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Minicurso</th>
          <th>Palestra</th>
          <th>Atividade</th>
          <th>Aumento</th>
          <th>Tipos de Documento</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in vm.list">
          <td>{{ object.nome }}</td>
          <td>{{ object.preco_minicurso | currency : 'R$ ' }}</td>
          <td>{{ object.preco_palestra | currency : 'R$ ' }}</td>
          <td>{{ object.preco_atividade | currency : 'R$ ' }}</td>
          <td>
            <span ng-if="!object.data_aumento">Não haverá aumento</span>
            <modal-button-open tipo="link" target="aumento-{{ object.pk }}" ng-if="object.data_aumento"><i class="fa fa-list"></i> Visualizar</modal-button-open>
            <modal titulo="Aumento" target="aumento-{{ object.pk }}" ng-if="object.data_aumento">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tr>
                    <th>Data de Aumento</th>
                    <td>{{ object.data_aumento | date : 'dd/MM/yyyy' }}</td>
                  </tr>
                  <tr>
                    <th>Minicurso</th>
                    <td>{{ object.preco_minicurso_aumento | currency : 'R$' }}</td>
                  </tr>
                  <tr>
                    <th>Palestra</th>
                    <td>{{ object.preco_palestra_aumento | currency : 'R$' }}</td>
                  </tr>
                  <tr>
                    <th>Atividade</th>
                    <td>{{ object.preco_atividade_aumento | currency : 'R$' }}</td>
                  </tr>
                </table>
              </div>
              <modal-footer>
                <modal-button-close>Fechar</modal-button-close>
              </modal-footer>
            </modal>
          </td>
          <td>
            <modal-button-open tipo="link" target="tipo-documento-{{ object.pk }}" ng-click="vm.getTipoDocumento(object)"><i class="fa fa-list"></i> Visualizar</modal-button-open>
            <modal titulo="Tipos de Documento" target="tipo-documento-{{ object.pk }}">
              <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.messageTipoDocumento">{{ message.texto }}</alert>
              <alert tipo="danger" ng-if="vm.errorTipoDocumento.non_field_errors">{{ vm.errorTipoDocumento.non_field_errors }}</alert>
              <div class="table-responsive">
                <table class="table table-bordered" ng-if="vm.listTipoDocumento.length">
                  <thead>
                    <th>Nome</th>
                    <th>Ações</th>
                  </thead>
                  <tr ng-repeat="tipo in vm.listTipoDocumento">
                    <td>{{ tipo.nome }}</td>
                    <td>
                      <button class="btn btn-info" ng-click="vm.editTipoDocumento(tipo)"><i class="fa fa-pencil-square-o"></i></button>
                      <button class="btn btn-danger" confirmed-click="vm.destroyTipoDocumento(tipo)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>
                  <tfoot>
                    <th>Nome</th>
                    <th>Ações</th>
                  </tfoot>
                </table>
              </div>
              <modal-body>
                <loading ng-if="!vm.loadingTipoDocumento" />
                <alert tipo="warning" ng-if="vm.loadingTipoDocumento && !vm.listTipoDocumento.length">Não há tipos de documento registrados</alert>
                <form novalidate name="vm.formTipoDocumento" ng-submit="vm.submitTipoDocumento(object)">
                  <div class="form-group" ng-class="{'has-error' : vm.formTipoDocumento.nome.$invalid}">
                    <label for="id_nome">Nome</label>
                    <input class="form-control" ng-model="vm.dataTipoDocumento.nome" id="id_nome" name="nome" type="text" required />
                    <span class="help-block" ng-repeat="error in vm.errorTipoDocumento.nome">{{ error }}</span>
                  </div>
                  <button type="submit" class="btn btn-primary" ng-disabled="vm.formTipoDocumento.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
                  <button type="button" class="btn btn-warning" ng-click="vm.cleanTipoDocumento()">Limpar Formulário</button>
                </form>
              </modal-body>
              <modal-footer>
                <modal-button-close>Fechar</modal-button-close>
              </modal-footer>
            </modal>
          </td>
          <td>
            <button class="btn btn-info" ng-click="vm.edit(object)"><i class="fa fa-pencil-square-o"></i></button>
            <button class="btn btn-danger" confirmed-click="vm.destroy(object)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Nome</th>
          <th>Minicurso</th>
          <th>Palestra</th>
          <th>Atividade</th>
          <th>Aumento</th>
          <th>Tipos de Documento</th>
          <th>Ações</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div ng-if="vm.openForm">
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.showList()">
    <i class="fa fa-list"></i> Listar Tipos de Inscrição
  </a>
  <hr />
  <form novalidate name="vm.form" ng-submit="vm.submit()">
    <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
    <div class="form-group" ng-class="{'has-error' : vm.form.nome.$invalid}">
      <label for="id_nome">Nome</label>
      <input class="form-control" ng-model="vm.data.nome" id="id_nome" name="nome" type="text" required />
      <span class="help-block" ng-repeat="error in vm.error.nome">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.data_aumento.$invalid}">
      <label for="id_data_aumento">Data de Aumento</label>
      <input class="form-control" ng-model="vm.data.data_aumento" id="id_data_aumento" name="data_aumento" type="date" />
      <span class="help-block" ng-repeat="error in vm.error.data_aumento">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.preco_minicurso.$invalid}">
      <label for="id_preco_minicurso">Preço do Minicurso</label>
      <input class="form-control" ng-model="vm.data.preco_minicurso" id="id_preco_minicurso" name="preco_minicurso" type="number" step="0.01" />
      <span class="help-block" ng-repeat="error in vm.error.preco_minicurso">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.preco_minicurso_aumento.$invalid}">
      <label for="id_preco_minicurso_aumento">Preço do Minicurso Após Aumento</label>
      <input class="form-control" ng-model="vm.data.preco_minicurso_aumento" id="id_preco_minicurso_aumento" name="preco_minicurso_aumento" type="number" step="0.01" ng-disabled="!vm.data.data_aumento"/>
      <span class="help-block" ng-repeat="error in vm.error.preco_minicurso_aumento">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.preco_palestra.$invalid}">
      <label for="id_preco_palestra">Preço do Palestra</label>
      <input class="form-control" ng-model="vm.data.preco_palestra" id="id_preco_palestra" name="preco_palestra" type="number" step="0.01" />
      <span class="help-block" ng-repeat="error in vm.error.preco_palestra">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.preco_palestra_aumento.$invalid}">
      <label for="id_preco_palestra_aumento">Preço do Palestra Após Aumento</label>
      <input class="form-control" ng-model="vm.data.preco_palestra_aumento" id="id_preco_palestra_aumento" name="preco_palestra_aumento" type="number" step="0.01" ng-disabled="!vm.data.data_aumento" />
      <span class="help-block" ng-repeat="error in vm.error.preco_palestra_aumento">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.preco_atividade.$invalid}">
      <label for="id_preco_atividade">Preço do Atividade</label>
      <input class="form-control" ng-model="vm.data.preco_atividade" id="id_preco_atividade" name="preco_atividade" type="number" step="0.01" />
      <span class="help-block" ng-repeat="error in vm.error.preco_atividade">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.preco_atividade_aumento.$invalid}">
      <label for="id_preco_atividade_aumento">Preço do Atividade Após Aumento</label>
      <input class="form-control" ng-model="vm.data.preco_atividade_aumento" id="id_preco_atividade_aumento" name="preco_atividade_aumento" type="number" step="0.01" ng-disabled="!vm.data.data_aumento" />
      <span class="help-block" ng-repeat="error in vm.error.preco_atividade_aumento">{{ error }}</span>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
    <button type="button" class="btn btn-warning" ng-click="vm.clean()">Limpar Formulário</button>
  </form>
</div>