<alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
<div ng-if="vm.openList">
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.create()">
    <i class="fa fa-plus"></i> Nova Palestra
  </a>
  <hr />
  <loading ng-if="!vm.loading" />
  <panel-body ng-if="vm.loading && !vm.list.length">Não há palestras registradas</panel-body>
  <div class="table-responsive">
    <table class="table table-bordered" ng-if="vm.loading && vm.list.length">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data</th>
          <th>Hora</th>
          <th>Palestrante</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in vm.list">
          <td>{{ object.nome }}</td>
          <td>{{ object.data | date : 'dd/MM/yyyy' }}</td>
          <td>{{ object.hora | date : 'HH:mm' }}</td>
          <td>{{ object.nome_profissional }}</td>
          <td>
            <button class="btn btn-info" ng-click="vm.edit(object)"><i class="fa fa-pencil-square-o"></i></button>
            <button class="btn btn-danger" confirmed-click="vm.destroy(object)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Nome</th>
          <th>Data</th>
          <th>Hora</th>
          <th>Palestrante</th>
          <th>Ações</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div ng-if="vm.openForm">
  <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.showList()">
    <i class="fa fa-list"></i> Listar Palestras
  </a>
  <hr />
  <form novalidate name="vm.form" ng-submit="vm.submit()">
    <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
    <div class="form-group" ng-class="{'has-error' : vm.form.nome.$invalid}">
      <label for="id_nome">Nome</label>
      <input class="form-control" ng-model="vm.data.nome" id="id_nome" name="nome" type="text" required />
      <span class="help-block" ng-repeat="error in vm.error.nome">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.data.$invalid}">
      <label for="id_data">Data</label>
      <input class="form-control" ng-model="vm.data.data" id="id_data" name="data" type="date" required />
      <span class="help-block" ng-repeat="error in vm.error.data">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.hora.$invalid}">
      <label for="id_hora">Hora</label>
      <input class="form-control" ng-model="vm.data.hora" id="id_hora" name="hora" type="time" required />
      <span class="help-block" ng-repeat="error in vm.error.hora">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.carga_horaria.$invalid}">
      <label for="id_carga_horaria">Carga Horária</label>
      <input class="form-control" ng-model="vm.data.carga_horaria" id="id_carga_horaria" name="carga_horaria" type="number" required />
      <span class="help-block" ng-repeat="error in vm.error.carga_horaria">{{ error }}</span>
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.form.profissional.$invalid}">
      <label for="id_profissional">Palestrante</label>
      <select class="form-control" ng-model="vm.data.profissional" name="profissional" id="id_profissional" ng-options="profissional.pk as profissional.nome for profissional in vm.profissionais" required >
        <option value="" selected>-------------</option>
      </select>
      <span class="help-block" ng-repeat="error in vm.error.profissional">{{ error }}</span>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
    <button type="button" class="btn btn-warning" ng-click="vm.clean()">Limpar Formulário</button>
  </form>
</div>