<panel tipo="default" titulo="Configuração">
  <panel-body>
    <div class="row" oc-lazy-load="['modal', 'file-reader']">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li>
            <a href="javascript:void(0)" ng-click="vm.showTipoInscricao()">
              <i class="fa fa-edit"></i> Tipo de Inscrição
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" ng-click="vm.showGrupo()">
              <i class="fa fa-users"></i> Grupo
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" ng-click="vm.showMinicurso()">
              <i class="fa fa-cube"></i> Minicurso
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" ng-click="vm.showPalestra()">
              <i class="fa fa-microphone"></i> Palestra
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" ng-click="vm.showAtividade()">
              <i class="fa fa-tasks"></i> Atividade
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" ng-click="vm.showCertificado()">
              <i class="fa fa-certificate"></i> Certificado
            </a>
          </li>
          <li>
            <a ng-if="vm.previous" ui-sref="{{ vm.previous }}"><i class="fa fa-undo"></i> Voltar</a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div ng-if="vm.openTipoInscricao" ng-controller="TipoInscricaoController as vm" ng-include="'/app/views/tipos-inscricao/index.html'"></div>
        <div ng-if="vm.openGrupo" ng-controller="GrupoController as vm" ng-include="'/app/views/grupos/index.html'"></div>
        <div ng-if="vm.openMinicurso" ng-controller="MinicursoController as vm" ng-include="'/app/views/minicursos/index.html'"></div>
        <div ng-if="vm.openPalestra" ng-controller="PalestraController as vm" ng-include="'/app/views/palestras/index.html'"></div>
        <div ng-if="vm.openAtividade" ng-controller="AtividadeController as vm" ng-include="'/app/views/atividades/index.html'"></div>
        <div ng-if="vm.openCertificado" ng-controller="ConfiguracaoCertificadoController as vm" ng-include="'/app/views/configuracoes-certificado/index.html'"></div>
      </div>
    </div>
  </panel-body>
</panel>