<panel tipo="default" titulo="Edições">
  <panel-body>
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="javascript:void(0)" ng-click="vm.create()">
            <i class="fa fa-plus"></i> Nova Edição
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" ng-click="vm.showList()">
            <i class="fa fa-list"></i> Listar Edições
          </a>
        </li>
        <li>
          <a ng-if="vm.previous" ui-sref="{{ vm.previous }}"><i class="fa fa-undo"></i> Voltar</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
      <div ng-if="vm.openList">
        <loading ng-if="!vm.loading" />
        <panel-body ng-if="vm.loading && !vm.list.length">Não há edições registradas</panel-body>
        <div class="table-responsive">
          <table class="table table-bordered" ng-if="vm.loading && vm.list.length">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Inicio</th>
                <th>Termino</th>
                <th>Status</th>
                <th>Inscrições</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="object in vm.list">
                <td>{{ object.nome }}</td>
                <td>{{ object.inicio | date : 'dd/MM/yyyy' }}</td>
                <td>{{ object.termino | date : 'dd/MM/yyyy' }}</td>
                <td>{{ object.status }}</td>
                <td>
                  <a ui-sref="inscricoes({ edicao: object.pk })" class="btn btn-link"><i class="fa fa-list"></i> Visualizar</a>
                </td>
                <td>
                  <a ui-sref="configuracaoEdicao({edicao: object.pk})" class="btn btn-success"><i class="fa fa-cog"></i></a>
                  <button class="btn btn-info" ng-click="vm.edit(object)"><i class="fa fa-pencil-square-o"></i></button>
                  <button class="btn btn-danger" confirmed-click="vm.destroy(object)" confirm-click="Você tem certeza?"><i class="fa fa-trash-o"></i></button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Nome</th>
                <th>Inicio</th>
                <th>Termino</th>
                <th>Status</th>
                <th>Inscrições</th>
                <th>Ações</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div ng-if="vm.openForm">
        <form novalidate name="vm.form" ng-submit="vm.submit()">
          <alert tipo="danger" ng-if="vm.error.non_field_errors">{{ vm.error.non_field_errors }}</alert>
          <div class="form-group" ng-class="{'has-error' : vm.form.edicao.$invalid}">
            <label for="id_edicao">Edição</label>
            <input class="form-control" ng-model="vm.data.edicao" id="id_edicao" name="edicao" value="{{ vm.data.edicao }}" type="text" required />
            <span class="help-block" ng-repeat="error in vm.error.edicao">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.areas.$invalid}">
            <label for="id_areas">Área</label>
            <select class="form-control" ng-model="vm.data.areas" name="areas" id="id_areas" ng-options="area.pk as area.nome for area in vm.areas" multiple></select>
            <span class="help-block" ng-repeat="error in vm.error.areas">{{ error }}</span>
          </div>
          <div class="checkbox" ng-class="{'has-error' : vm.form.certificado.$invalid}">
            <label>
              <input ng-model="vm.data.certificado" type="checkbox" />
              Certificação
            </label>
            <span class="help-block" ng-repeat="error in vm.error.certificado">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.inicio.$invalid}">
            <label for="id_inicio">Início</label>
            <input class="form-control" ng-model="vm.data.inicio" id="id_inicio" name="inicio" type="date" required />
            <span class="help-block" ng-repeat="error in vm.error.inicio">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.termino.$invalid}">
            <label for="id_termino">Termíno</label>
            <input class="form-control" ng-model="vm.data.termino" id="id_termino" name="termino" type="date" required />
            <span class="help-block" ng-repeat="error in vm.error.termino">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.inicio_inscricao.$invalid}">
            <label for="id_inicio_inscricao">Início das Inscrições</label>
            <input class="form-control" ng-model="vm.data.inicio_inscricao" id="id_inicio_inscricao" name="inicio_inscricao" type="date" required />
            <span class="help-block" ng-repeat="error in vm.error.inicio_inscricao">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.termino_inscricao.$invalid}">
            <label for="id_termino_inscricao">Termíno das Inscrições</label>
            <input class="form-control" ng-model="vm.data.termino_inscricao" id="id_termino_inscricao" name="termino_inscricao" type="date" required />
            <span class="help-block" ng-repeat="error in vm.error.termino_inscricao">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.cep.$invalid}">
            <label for="id_cep">CEP</label>
            <input class="form-control" ng-model="vm.data.cep" id="id_cep" ng-minlength="8" ng-maxlength="9" name="cep" ui-mask="99999-999"  ui-mask-placeholder ui-mask-placeholder-char="_" type="text" required />
            <span class="help-block" ng-repeat="error in vm.error.cep">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.logradouro.$invalid}">
            <label for="id_logradouro">Logradouro</label>
            <input class="form-control" ng-model="vm.data.logradouro" ng-readonly="vm.form.cep.$valid" id="id_logradouro" name="logradouro" type="text" />
            <span class="help-block" ng-repeat="error in vm.error.logradouro">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.numero.$invalid}">
            <label for="id_numero">Número</label>
            <input class="form-control" ng-model="vm.data.numero" id="id_numero" name="numero" type="text" />
            <span class="help-block" ng-repeat="error in vm.error.numero">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.bairro.$invalid}">
            <label for="id_bairro">Bairro</label>
            <input class="form-control" ng-model="vm.data.bairro" ng-readonly="vm.form.cep.$valid" id="id_numero" name="bairro" type="text" />
            <span class="help-block" ng-repeat="error in vm.error.bairro">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.cidade.$invalid}">
            <label for="id_cidade">Cidade</label>
            <input class="form-control" ng-model="vm.data.cidade" ng-readonly="vm.form.cep.$valid" id="id_cidade" name="cidade" type="text" />
            <span class="help-block" ng-repeat="error in vm.error.cidade">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.estado.$invalid}">
            <label for="id_estado">Estado</label>
            <select class="form-control" id="id_estado" ng-disabled="vm.form.cep.$valid" name="estado" ng-model="vm.data.estado">
              <option value="" selected>Selectione um estado</option>
              <option value="{{ estado[0] }}" ng-repeat="estado in vm.estados">{{ estado[1] }}</option>
            </select>
            <span class="help-block" ng-repeat="error in vm.error.estado">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.complemento.$invalid}">
            <label for="id_complemento">Complemento</label>
            <input class="form-control" ng-model="vm.data.complemento" id="id_complemento" name="complemento" type="text" />
            <span class="help-block" ng-repeat="error in vm.error.complemento">{{ error }}</span>
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> Confirmar</button>
          <button type="button" class="btn btn-warning" ng-click="vm.clean()">Limpar Formulário</button>
        </form>
      </div>
    </div>
  </panel-body>
</panel>