<alert tipo="danger" ng-repeat="message in vm.message">{{ message }}</alert>
<panel tipo="default" titulo="Entrar" class="col-md-4 col-md-offset-4">
  <form novalidate name="vm.form" ng-submit="vm.submit()">
    <panel-body>
      <div class="form-group" ng-class="{'has-error' : vm.form.username.$invalid}">
        <label for="id_username">Usuário</label>
        <input class="form-control" ng-model="vm.data.username" id="id_username" name="username" value="{{ vm.data.username }}" type="text" required></input>
        <span class="help-block" ng-repeat="error in vm.error.username">{{ error }}</span>
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.form.password.$invalid}">
        <label for="id_password">Senha</label>
        <input class="form-control" ng-model="vm.data.password" id="id_password" name="password" value="{{ vm.data.password }}" ng-value="{{ vm.data.password }}" type="password" required></input>
        <span class="help-block" ng-repeat="error in vm.error.password">{{ error }}</span>
      </div>    
    </panel-body>
    <panel-footer>
      <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> {{ vm.confirmButton }}</button>
    </panel-footer>
  </form>
</panel>